force-app/main/default/flows/Mortgage_Calculation_Lead.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>reset_Flow</name>
        <label>reset Flow</label>
        <locationX>199</locationX>
        <locationY>281</locationY>
        <assignmentItems>
            <assignToReference>firstName</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lastName</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>street</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>city</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>State</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PostalCode</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>country</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>salutation</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>phone</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>email</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>mortgageYears</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>defaultYears</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>mortgagePrincipal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>defaultPrinciple</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>mortgageRate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>defaultRate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Mortgage_Calculation_Screen</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Next_Screen</name>
        <label>Next Screen</label>
        <locationX>549</locationX>
        <locationY>204</locationY>
        <defaultConnectorLabel>End</defaultConnectorLabel>
        <rules>
            <name>Navigation_Amortization</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>selectedNextScreen</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>viewSchedule</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Amortization_Screen</targetReference>
            </connector>
            <label>Navigation Amortization</label>
        </rules>
        <rules>
            <name>Navigate_Lead_Input</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>selectedNextScreen</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>mortgageRequest</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead_Input_Screen</targetReference>
            </connector>
            <label>Navigate Lead Input</label>
        </rules>
        <rules>
            <name>Navigate_to_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>selectedNextScreen</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>toLead</stringValue>
                </rightValue>
            </conditions>
            <label>Navigate to Lead</label>
        </rules>
        <rules>
            <name>Navigate_to_New_Calculation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>selectedNextScreen</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>newCalculation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>reset_Flow</targetReference>
            </connector>
            <label>Navigate to New Calculation</label>
        </rules>
        <rules>
            <name>Navigate_to_Submit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>selectedNextScreen</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>submit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateLead</targetReference>
            </connector>
            <label>Navigate to Submit</label>
        </rules>
    </decisions>
    <interviewLabel>Mortgage Calculation Lead {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Mortgage Calculation Lead</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateLead</name>
        <label>CreateLead</label>
        <locationX>795</locationX>
        <locationY>276</locationY>
        <assignRecordIdToReference>leadId</assignRecordIdToReference>
        <connector>
            <targetReference>Mortgage_Results</targetReference>
        </connector>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>city</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company</field>
            <value>
                <stringValue>NOCOMPANY</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country</field>
            <value>
                <elementReference>country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Buyer is interested in a {!mortgagePrincipal} mortgage at a {!mortgageRate}% rate for {!mortgageYears} years.  Additional Notes: {!Additional_Notes}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>firstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>lastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode</field>
            <value>
                <elementReference>PostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Salutation</field>
            <value>
                <elementReference>salutation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State</field>
            <value>
                <elementReference>State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open - Not Contacted</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <elementReference>street</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordCreates>
    <screens>
        <name>Amortization_Screen</name>
        <label>Amortization Screen</label>
        <locationX>556</locationX>
        <locationY>39</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Next_Screen</targetReference>
        </connector>
        <fields>
            <name>amortizationSchedule</name>
            <extensionName>c:mortgageAmortizationScheduleWrapper</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>mortgagePrincipal</name>
                <value>
                    <elementReference>mortgagePrincipal</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>mortgageRate</name>
                <value>
                    <elementReference>mortgageRate</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>mortgageYears</name>
                <value>
                    <elementReference>mortgageYears</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>flowNavigation2</name>
            <extensionName>c:flowNavigation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonFields</name>
                <value>
                    <stringValue>New Calculation,newCalculation;Initiate Mortgage Request,mortgageRequest</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedNextScreen</assignToReference>
                <name>btnSelected</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Lead_Input_Screen</name>
        <label>Lead Input Screen</label>
        <locationX>814</locationX>
        <locationY>79</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Next_Screen</targetReference>
        </connector>
        <fields>
            <name>msg1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Please enter in the following information to start your mortgage process:&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>msg2</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(37, 97, 240); font-size: 14px;&quot;&gt;Summary:&lt;/b&gt;&lt;span style=&quot;color: rgb(37, 97, 240); font-size: 14px;&quot;&gt; You are interested in a {!mortgagePrincipal} mortgage at a {!mortgageRate}% rate for {!mortgageYears} years.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>nameCollection</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldsToDisplayList</name>
                <value>
                    <stringValue>salutation,firstName,lastName</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>firstName</assignToReference>
                <name>firstName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>lastName</assignToReference>
                <name>lastName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>salutation</assignToReference>
                <name>salutation</name>
            </outputParameters>
        </fields>
        <fields>
            <name>phoneInput</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>phone</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>emailInput</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>email</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>email</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>addressInput</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>street</name>
                <value>
                    <elementReference>street</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>province</name>
                <value>
                    <elementReference>State</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>postalCode</name>
                <value>
                    <elementReference>PostalCode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>city</name>
                <value>
                    <elementReference>city</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>country</name>
                <value>
                    <elementReference>country</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>city</assignToReference>
                <name>city</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>PostalCode</assignToReference>
                <name>postalCode</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>State</assignToReference>
                <name>province</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>street</assignToReference>
                <name>street</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>country</assignToReference>
                <name>country</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Additional_Notes</name>
            <fieldText>Additional Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>flowNavigation3</name>
            <extensionName>c:flowNavigation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonFields</name>
                <value>
                    <stringValue>Cancel,newCalculation;Submit,submit</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedNextScreen</assignToReference>
                <name>btnSelected</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Mortgage_Calculation_Screen</name>
        <label>Mortgage Calculation Screen</label>
        <locationX>197</locationX>
        <locationY>95</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Next_Screen</targetReference>
        </connector>
        <fields>
            <name>mortgageCalculation</name>
            <extensionName>c:mortgageCalcWrapper</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>mortgagePrincipal</name>
                <value>
                    <elementReference>mortgagePrincipal</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>mortgageRate</name>
                <value>
                    <elementReference>mortgageRate</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>mortgageYears</name>
                <value>
                    <elementReference>mortgageYears</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>mortgagePrincipal</assignToReference>
                <name>mortgagePrincipal</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>mortgageRate</assignToReference>
                <name>mortgageRate</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>mortgageYears</assignToReference>
                <name>mortgageYears</name>
            </outputParameters>
        </fields>
        <fields>
            <name>flowNavigation1</name>
            <extensionName>c:flowNavigation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonFields</name>
                <value>
                    <stringValue>View Amortization Schedule,viewSchedule;Initiate Mortgage Request,mortgageRequest;Finish,finish</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedNextScreen</assignToReference>
                <name>btnSelected</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Mortgage_Results</name>
        <label>Mortgage Results</label>
        <locationX>671</locationX>
        <locationY>379</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>MortgageInfo</name>
            <fieldText>&lt;p&gt;Mortgage Principal: {!mortgagePrincipal}&lt;/p&gt;&lt;p&gt;Mortgage Rate: {!mortgageRate}&lt;/p&gt;&lt;p&gt;Mortgage Years: &lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt; {!mortgageYears}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Lead Id: {!leadId}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>Mortgage_Calculation_Screen</startElementReference>
    <status>Draft</status>
    <variables>
        <name>city</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>country</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>defaultPrinciple</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>200000.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>defaultRate</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>3</scale>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>defaultYears</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>30.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>firstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>leadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>mortgagePrincipal</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <elementReference>defaultPrinciple</elementReference>
        </value>
    </variables>
    <variables>
        <name>mortgageRate</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>3</scale>
        <value>
            <elementReference>defaultRate</elementReference>
        </value>
    </variables>
    <variables>
        <name>mortgageYears</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <elementReference>defaultYears</elementReference>
        </value>
    </variables>
    <variables>
        <name>phone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PostalCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>salutation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedNextScreen</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>State</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>street</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
